<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Search Algorithms Comparison</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header class="head">
  <nav>
    <img src="/static/spidong.png" class="logo">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/works">Works</a></li>
    </ul>
  </nav>
</header>
<nav class="content">
  <img src="/static/Train Stations.jpg" class="train" alt="Philippine Train Map.png">
</nav>
<div class="content1">
<form action="/graph_algo" method="post">
    <label for="start_station">Starting Station:</label>
    <input type="text" id="start_station" name="start_station" placeholder="Enter Station">
    <label for="end_station">End Station:</label>
    <input type="text" id="end_station" name="end_station" placeholder="Enter Station">
    <input type="submit" value="Enter" class="try-it-button">

<br>
<br>
<hr>
{% if result %}
  <p class="Anim">{{ result }}</p>
  <p class="Anim">{{ result1 }}</p>
{% endif %}
<hr>
</div>




