<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Search Algorithms Comparison</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header class="head">
  <nav>
    <img src="/static/spidong.png" class="logo">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/works">Works</a></li>
        
    </ul>
  </nav>
</header>
<body>
    <div class = "content1">
        <h1>Hash Algorithm</h1>
        <form method="POST" action="/hash_algo">
            <br>
            <br>
            <label for="hash_function">Select Hash Function:</label>
            <select name="hash_function" id="hash_function" class="textArea">
                <option value="hash_function_1">Hash Function 1</option>
                <option value="hash_function_2">Hash Function 2</option>
                <option value="hash_function_3">Hash Function 3</option>
            </select>
            <br>
            <br>
            <br>
            <label for="num_commands">Number of Commands:</label>
            <br>
            <input type="number" name="num_commands" id="num_commands" required placeholder="1" class="textArea">
            <br>
            <br>
            <label for="commands">Commands:</label>
            <br>
            <textarea name="commands"  id="commands" rows="5" required placeholder="Type any key here" class="textArea"></textarea>
            <br>
            <input type="submit" value="Submit" class="try-it-button">
        </form>
        <br>

        <div class="output">
            <p>{{  "\n".join(output) }}</p>
        </div>

    </div>
</body>
</html>
