<!DOCTYPE html>
<html lang="en">
<head>
<meta name=" viewport" content="width=device-width, initial-scale=1.0">
<title> Search Algorithms Comparison</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<header class="head">
  <nav>
    <a >    </a>
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="">Works</a></li>
      <li><a href="#">Contacts</a></li>
        
    </ul>
    <div>
      <a href="#" class="btn">Log in</a>
      <a href="#" class="btn">Suggestions?</a>
    </div>
  </nav>
</header>
<body>
  <div >
    <video autoplay muted loop class="bg-pic">
        <source src="/static/Letters Bg.mp4" type="video/mp4">
    </video>
  </div>
  <div class="hero">
  <div><video autoplay muted loop class="bg-pic">
    <source src="/static/Letters Bg.mp4" type="video/mp4">
    </video>
    <br>
    <br>
    <br>
    <div class="content">
      <h1 class="Anim">Search Algorithms</h1>
      <p class="Anim">This software enables you to employ various search algorithms and provides a visual representation of the time required to determine a particular item's position based on the quantity of data.</p>
      <a href="/one" class="btn">Search: 100 Data</a>
      <br>
      <br>
      <a href="/two" class="btn">Search: 1000 Data</a>
      <br>
      <br>
      <a href="/three" class="btn">Search: 10000 Data</a>
    </div>
    <br>
    <br>
    <br>
    <div class="content">
      <h1 class="Anim">Results</h1>
      <p class="Anim">This button shows the results recorded upon the use of the program</p>
      <a href="/results" class="btn">Spreadsheet</a>
      <br>
      <br>
    </div>
    
  
  
  </div>
  
    
    
  
</body>