<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<section class="team">
		<div class="center">
			<h1>Our Team</h1>
		</div>

		<div class="team-content">
            <div class="box">
				<img src="/static/Gupit.jpg">
				<h3>Shane Gupit</h3>
				<h5>Contributors</h5>
			</div>

			<div class="box">
				<img src="/static/Nobleza.jpg">
				<h3>Bhea Nobleza</h3>
				<h5>Contributors</h5>
			</div>

            <div class="box">
				<img src="/static/Quitong.jpg">
				<h3>Emanoel Quitong</h3>
				<h5>Contributors</h5>
			</div>

			<div class="box">
				<img src="/static/Parrish.jpg">
				<h3>Paulean Parrish</h3>
				<h5>Contributors</h5>
			</div>

			<div class="box">
				<img src="/static/Relucio.jpg">
				<h3>Elyza Relucio</h3>
				<h5>Contributors</h5>
			</div>

            <div class="box">
				<img src="/static/Templanza.jpg">
				<h3>Kristine Templanza</h3>
				<h5>Contributors</h5>
			</div>

		</div>
	</section>
</body>
</html>