<!DOCTYPE html>
<html>
<head>
    <meta name=" viewport" content="width=device-width, initial-scale=1.0">
    <title> MyWebsite - Pyflask Introduction To Website: Profile</title>
    <link rel="stylesheet" href="/static/style.css"> 
</head>

<header class="head">
    <nav>
      <img src="/static/spd logo.png" class="logo">
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="index">Works</a></li>
        <li><a href="#">Contacts</a></li>
          
      </ul>
      <div>
        <a href="#" class="login-btn">Log in</a>
        <a href="#" class="btn">Suggestions?</a>
      </div>
    </nav>
  </header>
<body>
    <div class="hero">
        <div>
        <video autoplay muted loop class="bg-pic">
            <source src="/static/Profile-Bg.mp4" type="video/mp4">
        </video>
        <div class="profile">
            <div class="profile-pic">
                <img src="/static/spd logo.png" alt="Pogi sige na" >
            </div>
            <div class="profile-dets">
                <h1 class="profile-name">Emanoel Monte Quitong</h1>
                <br>
                <p class="profile-description">BSCpE 2-4</p>
                <br>
                <p class="profile-description">Create your profile here with Name, section , course, subject and display your favorite sayings or motto! using html tags </p>
                <br>
                <br>
                <p class="profile-motto">" No matter how many hits I take, I'll always find my way to get back up."</p>
            </div>
        </div>
        </div>
    </div>
    </body>
</html>
