<!DOCTYPE html>
<html lang="en">
<head>
<meta name=" viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<header class="head">
  <nav>
    <img src="/static/spidong.png" class="logo">
    <ul>
      <li><a href="/home">Home</a></li>  
      <li><a href="/profile">Profile</a></li>
      <li><a href="/works">Works</a></li>  
    </ul>
  </nav>
</header>

<body>
	<section class="team">
		<div class="center">
			<h1>Our Team</h1>
		</div>

		<div class="team-content">
            <div class="box">
				<img src="/static/Gupit.jpg">
				<h3>Shane Gupit</h3>
				<h5>Contributors</h5>
			</div>

			<div class="box">
				<img src="/static/Nobleza.jpg">
				<h3>Bhea Nobleza</h3>
				<h5>Contributors</h5>
			</div>

            <div class="box">
				<img src="/static/Quitong.jpg">
				<h3>Emanoel Quitong</h3>
				<h5>Contributors</h5>
			</div>

			<div class="box">
				<img src="/static/Parrish.jpg">
				<h3>Paulean Parrish</h3>
				<h5>Contributors</h5>
			</div>

			<div class="box">
				<img src="/static/Relucio.jpg">
				<h3>Elyza Relucio</h3>
				<h5>Contributors</h5>
			</div>

            <div class="box">
				<img src="/static/Templanza.jpg">
				<h3>Kristine Templanza</h3>
				<h5>Contributors</h5>
			</div>

		</div>
	</section>
</body>
</html>