<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Works</title>
</head>
<body>
    <h1 class="center">Works</h1>

    <div class="work-container">
        <div class="work-details">
            <h2>Search Algorithms</h2>
            <p>Implementation and comparison of various search algorithms on different-sized datasets.</p>
            <button class="try-it-button" onclick="showWork('work1')"><li><a href="/searchAlgorithm">Try it</a></li></button>
        </div>
    </div>

    <div class="work-container">
        <div class="work-details">
            <h2>Infix to Postfix</h2>
            <p> Implements the Shunting Yard algorithm in Python, utilizing a Stack data structure, for converting infix expressions to postfix notation.</p>
            <button class="try-it-button" onclick="showWork('work2')"><a href ="/infix_postfix"></href> Try it</a></button>
        </div>
    </div>

    <div class="work-container">
        <div class="work-details">
            <h2>QUEUE and DEQUE</h2>
            <p>This code involves the implementation of Queue and Deque data structures using a linked list</p>
            <button class="try-it-button" onclick="showWork('work3')"><a href="/queue_dequeue">Try it</a></button>
        </div>
    </div>

    <div id="workDetails"></div>
</body>
</html>