<!DOCTYPE html>
<html lang="en">
<head>
<meta name=" viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<header class="head">
  <nav>
    <img src="/static/spidong.png" class="logo">
    <ul>
      <li><a href="/home">Home</a></li>  
      <li><a href="/profile">Profile</a></li>
      <li><a href="/works">Works</a></li>  
    </ul>
  </nav>
</header>
<body>
    <h1 class="center">Works</h1>

    <div class="work-container">
        <div class="work-details">
            <h2>Search Algorithms</h2>
            <p>Implementation and comparison of various search algorithms on different-sized datasets.</p>
            <button class="try-it-button" onclick="showWork('work1')"><a href="/searchAlgorithm">Try it</a></button>
        </div>
    </div>

    <div class="work-container">
        <div class="work-details">
            <h2>Infix to Postfix</h2>
            <p> Implements the Shunting Yard algorithm in Python, utilizing a Stack data structure, for converting infix expressions to postfix notation.</p>
            <button class="try-it-button" onclick="showWork('work2')"><a href ="/infix_postfix"></href> Try it</a></button>
        </div>
    </div>

    <div class="work-container">
        <div class="work-details">
            <h2>Queue and Deque</h2>
            <p>This code involves the implementation of Queue and Deque data structures using a linked list</p>
            <button class="try-it-button" onclick="showWork('work3')"><a href="/queue_dequeue">Try it</a></button>
        </div>
    </div>

    <div class="work-container">
        <div class="work-details">
            <h2>Hash Table</h2>
            <p>Allows the user to perform hash tables with 3 different functions</p>
            <button class="try-it-button" onclick="showWork('work4')"><a href="/hash_algo">Try it</a></button>
        </div>
    </div>

    <div class="work-container">
        <div class="work-details">
            <h2>Graph Structure</h2>
            <p>Allows the user to find the shortest path of going from one station to another</p>
            <button class="try-it-button" onclick="showWork('work4')"><a href="/hash_algo">Try it</a></button>
        </div>
    </div>

    <div id="workDetails"></div>
</body>
</html>